{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript",
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}